<div class="error-container d-flex flex-column justify-content-center align-items-center text-center vh-100">
  <div class="error-content">
    <mat-icon class="error-icon mb-3 " style="font-size: 25px;">error_outline</mat-icon>
    <h1 class="error-code mb-2">404</h1>
    <h3 class="error-title mb-3">Oops! Page Not Found</h3>
    <p class="error-message mb-4">
      The page you’re looking for doesn’t exist or may have been moved.
    </p>
    <button mat-raised-button color="primary" class="btn-orange" routerLink="/dashboard">
      Go Back Home
    </button>
  </div>
</div>
