/* Import Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* Global styles */
* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}